body {
  background-color: black;
}

@keyframes slidein {
  from {
    top: 50px; 
    opacity: 1;
  }

  to {
    top: 250px;
    opacity: 0;
  }
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #emojis {
    width: 100%;
    display: flex;
    justify-content: center;
    #broccoliImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #pizzaImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #videoGamesImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #drugsImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #runAwayImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #violenceImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #sleepImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
    #coffeeImage {
      animation-name: slidein;
      animation-duration: 1.3s;
    }
  }
  #progress {
    background-color: lightslategray;
    color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  #eat {
    background-color: #a8e6cf;
    margin-top: 10px;
  }
  #play {
    background-color: #dcedc1;
    margin-top: 10px;
  }
  #fight {
    background-color: #ffd3b6;
  }
  #sleep {
    background-color: #ff8b94;
  }
  .quad {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 345px;
    background-color: silver;
    .sectionContents {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    button {
      width: 100px;
    }
  }
  #pet {
    position: absolute;
    top: 225px;
  }
}


