body {
  background-color: white;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #progress {
    background-color: lightslategray;
    color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  #eat {
    background-color: #a8e6cf;
    margin-top: 15px;
  }
  #play {
    background-color: #dcedc1;
    margin-top: 15px;
  }
  #fight {
    background-color: #ffd3b6;
  }
  #sleep {
    background-color: #ff8b94;
  }
  .quad {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 358px;
    background-color: silver;
    .sectionContents {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    button {
      width: 100px;
    }
  }
}


